/* Style Sheets determine the look and feel of the page. */
/* Dark mode overrides */
.dark-mode {
    background: #333;
    color: #ddd;
}

.dark-mode input, .dark-mode select, .dark-mode button {
    background: #888;
    color: #ddd;
    border-color: #ccc;
}

.dark-mode :link {
    color: #f5f5f5;
}

.dark-mode a:hover {
    color: rgb(255, 254, 192);
}

.dark-mode a:active {
    color: rgb(255, 235, 192);
}

.dark-mode :visited {
    color: pink;
}


/* common styles*/
#noscript {
    font-size: larger;
    font-weight: bolder;
    padding: 15px;
    display: block;
    color: maroon;
    text-decoration: underline;
}
#pageContent {
    max-width: 550px;
    margin: auto;
}

#menu {
    margin-top: 15px;
    border: 1px solid black;
}

#menu .header {
    display: block;
    text-decoration: double underline;
    margin-bottom: 5px;
}

label {
    display:block;
}


/* the has selector is only valid in CSS4 which no browsers actually support yet */
.field:has(input:disabled) {
    display:none;
}

.field:has(input:enabled) {
    display:initial;
}

.field {
    padding-bottom:15px;
    width: 100%;
}

.col {
    display:flex;
}
.col div.field {
    flex:auto;
}

#currentLevel, #maxLevel {
    width: 7ch;
}

#currentAtk, #currentDef, #currentSol {
    width: 10ch;
}

table {
  margin-top:20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 3px;
}

.footer {
    font-size: 0.8em;
}