/* Style Sheets determine the look and feel of the page. */
/* Dark mode overrides */
.dark-mode {
  background: #333;
  color: #ddd;
}

.dark-mode input,
.dark-mode select,
.dark-mode button {
  background: #888;
  color: #ddd;
  border-color: #ccc;
}

.dark-mode :link {
  color: #f5f5f5;
}

.dark-mode a:hover {
  color: rgb(255, 254, 192);
}

.dark-mode a:active {
  color: rgb(255, 235, 192);
}

.dark-mode :visited {
  color: pink;
}

/* common styles*/
#noscript {
  font-size: larger;
  font-weight: bolder;
  padding: 15px;
  display: block;
  color: maroon;
  text-decoration: underline;
}
#pageContent {
  max-width: 550px;
  margin: auto;
}

#menu {
  margin-top: 15px;
  padding: 3px;
  border: 1px solid black;
}

#menu .header {
  display: block;
  text-decoration: double underline;
  margin-bottom: 5px;
}

.nav-toggle form {
  max-height: 7em;
  overflow: hidden;
  /*transform: scaleY(1);*/
  transform-origin: top;
  -webkit-transition: 0.75s;
  /*transition: transform 0.75s ease;*/
  transition: max-height 0.75s ease-in;
}

.nav-toggle.collapse-form-height form {
  max-height: 0px;
  /*transform: scaleY(0);*/
  transform-origin: top;
  -webkit-transition: 0.75s;
  /*transition: transform 0.75s ease;*/
  transition: max-height 0.75s ease-out;
}

.nav-toggle .header {
  cursor: pointer;
}

.nav-toggle .header:before {
  content: 'X ';
}

.nav-toggle.collapse-form-height .header:before {
  content: '+ ';
}

label {
  display: block;
}

/* the has selector is only valid in CSS4 which no browsers actually support yet */
.field:has(input:disabled) {
  display: none;
}

.field:has(input:enabled) {
  display: initial;
}

.field {
  padding-bottom: 15px;
  width: 100%;
}

input:in-range {
  border-color: green;
}

.col {
  display: flex;
}
.col div.field {
  flex: auto;
}

#card {
  width: 100%;
}

#currentLevel,
#maxLevel {
  width: 7ch;
}

#currentAtk,
#currentDef,
#currentSol {
  width: 10ch;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  padding: 3px;
}

.footer {
  font-size: 0.8em;
}

/* checkbox as slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 1em;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1em;
  width: 1em;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked:enabled + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked:enabled + .slider:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}
